<ion-header>
  <ion-navbar>
    <ion-title>
      Agenda
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="clickAdd()"> 
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #330006;">
  <ion-list>
    <ion-item style="background-color: #166088;" (click)="clickCc(contacto)" *ngFor="let contacto of contactos">
      <ion-avatar item-start>
        <img src={{contacto.avatar}}>
      </ion-avatar>
      <h2 style="color: rgb(0, 255, 229);">{{contacto.nombre}}</h2>
      <h3 style="color: darkturquoise;">{{contacto.telefono}}</h3>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let Q of tt | async">
      {{Q.nombre}}
    </ion-item>
  </ion-list>
</ion-content>
